

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
 font-family: 'roboto-thin';
 src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
 font-family: 'roboto-light';
 src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
 font-family: 'roboto-regular';
 src: url('../fonts/Roboto-Regular.ttf');
}

body {
 margin-top: 0px;
 margin-bottom: 50px;
 background: none;
 font-family: roboto-light;
 /*padding-top: 10px;
 padding-bottom: 20px; */
}

.text-vlarge {
  font-size: 32px;
}

.text-large {
  font-size: 24px;
}

.text-med {
  font-size: 20px;
}

.text-sm {
  font-size: 16px;
}


.text-green {
  color: rgb(65,188,103);
}

.text-gold {
  color: rgb(235,203,40);
}

.text-blue {
  color: rgb(49,90,214);
}

.text-white {
  color: white;
}

.text-regular {
  font-family: 'roboto-regular';
}

.text-light {
  font-family: 'roboto-thin';
}

.text-thin {
  font-family: 'roboto-light';
}

.outlined {
  outline: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
  margin-bottom: 10px;
}



#bg {
  position: fixed;
  background-color: rgb(0,0,0);

  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.full0 {
  background: url(../img/bg0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full1 {
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full2 {
  background: url(../img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  color: rgb(200,200,200,0.5);
}

div {
  /*background-color: rgba(255,255,255,0.05);*/
  color: white;
}
